<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta http-equiv="refresh" content="3">
    <meta charset="UTF-8">
    {% include 'css.html' %}
    <script>
        async function submitDeleteUrl(event, url) {
            event.preventDefault();
            try {
                const response = await fetch('/urls/delete/by-url', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ url })
                });
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Failed to delete URL');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while deleting the URL');
            }
        }
    </script>
</head>
<body class="bg-gray-100 text-gray-900 dark-mode">
    {% include 'nav.html' %}
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">{{ title }}</h1>
        <ol class="list-decimal pl-5">
            {% for url_with_tags in urls_with_tags %}
                <li class="mb-2 list-none">
                    <div class="bg-white p-4 rounded shadow flex items-center justify-between">
                        <div>
                            <a href="{{ url_with_tags.url }}" target="_blank" class="text-blue-500 hover:underline">{{ url_with_tags.display_url }}</a>
                            {% if url_with_tags.tags and url_with_tags.tags | length > 0 %}
                                <div class="flex flex-wrap gap-0.5 mt-0.5">
                                    {% for tag in url_with_tags.tags %}
                                    <span class="text-xs px-1 py-0.5 border border-gray-300 bg-gray-100 rounded text-gray-700">
                                        {{ tag }}
                                    </span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <button onclick="submitDeleteUrl(event, '{{ url_with_tags.url }}')" class="text-red-500 hover:text-red-700">X</button>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>
